.product {
  border: 3px solid black;
  display: grid;
  grid-template-columns: 250px 1fr 1fr;
  grid-template-areas:
    "header header header"
    "image info details"
    "btn btn btn";
  align-items: center;
  column-gap: 32px;
}

.product__header {
  grid-area: header;
  position: relative;
}

.product__heading {
  background-color: #f7f7f7;
  text-transform: uppercase;
  text-align: center;
  font-size: var(--text-lg);
  padding: 16px;
}

.product__sale-badge {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  display: inline-block;
  padding: 8px 16px;
  background: red;
  color: white;
  position: absolute;
  top: -16px;
  left: -32px;
}

.product__left {
  grid-area: image;
}

.product__img {
  display: block;
}

.product__middle {
  grid-area: info;
  display: flex;
  flex-flow: column nowrap;
  gap: 24px;
}

.product__middle-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product__price {
  font-size: 1.2rem;
}

.product__shipping {
  text-transform: uppercase;
  color: #999;
  font-weight: bold;
  font-size: 0.75rem;
}

/* The order is important: link, visited, focus, hover, active (LVFHA) */
.product__info-link:link {
  color: black;
}

.product__info-link:hover {
  text-decoration: none;
}

.product__right {
  grid-area: details;
  margin: 0 32px 0 16px;
}

.product__details {
  text-transform: uppercase;
  font-size: 0.875rem;
  margin-block-end: 32px;
}

.product__details-list {
  list-style-type: square;
}

.product__details-item {
  margin-block-end: 16px;
}

.product__details-item:last-child {
  margin-block-end: 0;
}

.product__btn {
  grid-area: btn;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-size: var(--text-lg);
  border: none;
  padding: 16px;
  width: 100%;
}

.product__btn:hover {
  background-color: white;
  color: black;
  border-block-start: 3px solid black;
}
